<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="logged_in.js" defer></script>
   <link rel="stylesheet" href="style.css">
   <title>Logged In</title>
</head>

<body>
   <h1>SetList Creator App</h1>
   <p>You have successfully logged in to Spotify.</p>

   <p>Welcome to the app!</p>

   <p>The following functions are available:</p>

   <div>
      <button id="about-me">About me</button>
   </div>

   <div>
      <button id="search">Search Artists</button>
   </div>


</body>

</html>