<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About me</title>
   <script src="me.js"></script>
   <link rel="stylesheet" href="style.css">
</head>

<body>
   <h1 id="about-me-title">User Profile Information</h1>
   <p>This function lists all the basic information about your Spotify account:</p>
   <div id="about-me-container"></div>
</body>

</html>