<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Search Artists</title>
   <script src="search_page.js" defer></script>
   <link rel="stylesheet" href="style.css">
</head>

<body>
   <h1>Search Artists Page</h1>
   <p>Enter the search term below then click the button
      to search the artists and render the results.
   </p>
   <form id="search-form">
      <label for="search-field">Enter search term:</label>
      <input type="text" id="search-field" name="search-field" required>
      <button type="submit">Search Artist</button>
   </form>
   <div id="search-result-container">
      
   </div>
</body>

</html>