<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=0, initial-scale=1.0">
   <title>Setlists for artist</title>
   <script src="setlists.js" defer></script>
   <link rel="stylesheet" href="style.css">
</head>
<body>
   <h1>Setlists for <span id="artist-name"></span></h1>
   <div id="setlist-container"></div>
</body>
</html>