* {
   background-color: antiquewhite;
   box-sizing: border-box;
   font-size: 25px;
   padding: 10px;
}

button {
   padding: 8px 16px;
   font-size: 20px;
   line-height: 1.2;
   border: 3px solid #ccc;
   background-color: #f0f0f0;
   color: #333;
   border-radius: 10px;
   cursor: pointer;
   display: inline-block;
   width: auto;
   align-self: center;
   justify-self: center;
}

button:focus {
   outline: none;
   /* Removes the default outline when the button is focused */
}

button:hover {
   background-color: #ddd;
   /* Changes background color on hover */
}

input {
   background-color: whitesmoke;
   border-radius: 10px;
}

img {
   background-color: whitesmoke;
   justify-self: center;
   width: 250px;
   height: 250px;
}

h1, span {
   font-family: Arial, sans-serif;
   color: #333;
   text-align: center;
   margin-bottom: 20px;
   font-size: 50px;
}

#about-me-container>div:hover {
   background-color: whitesmoke;
   display: inline-block;
}

#about-me-container>button {
   display: block;
}

#search-result-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1em;
   align-items: center;
   justify-items: center;
}

#search-result-container>div {
   display: grid;
   margin: 1em;
   padding: 1em;
   border: 2px solid blueviolet;
   border-radius: 30px;
   background-color: whitesmoke;
}

#search-result-container>div>div,
a {
   font-size: 20px;
   background-color: whitesmoke;
}

#search-form {
   margin: auto;
   text-align: center;
   align-self: center;
   padding: 1em;
}

#search-page-note {
   color: red;
}

.hide {
   visibility: hidden;
}

.show {
   visibility: visible;
}
